
<div class="row" style="margin-top: 80px;">
    <div class="span6 offset6" style="border: 1px solid black;padding: 60px;">
      <%= form_for(:session, url: sessions_path) do |f| %>
        <div class="span6 offset1">
          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>
          <div class="row">
            <div class="span2 offset2 ">
              <%= f.submit "Login", class: "btn btn-medium" %>
              </div>
          </div>
          <div class="row" style="margin-top:16px;">
            <div class="span3">
              <ul>
                <li>
                    <%= link_to 'Registar-me', signup_path %>
                </li>
                <li>
                    |
                </li>
                <li>
                    <%= link_to 'Esqueci-me da password', new_password_reset_path %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
