<h1>Bolsa de emprego - Newsletter</h1>
<h3>Candidatos Registados na ultima semana</h3>
<ul>
<% @candidatos.each do |candidato| %>
    <li><%= candidato.user.nome%></li>
<% end %>
</ul>

<h3>Entidades Registadas na ultima semana</h3>
<ul>
<% @entidades.each do |entidade| %>
    <li><%= entidade.user.nome%></li>
<% end %>
</ul>

<h3>Noticias da ultima semana</h3>
<ul>
<% @noticias.each do |noticia| %>

      <% if noticia.destaque %>
          <li><%= noticia.titulo + "  <strong>(Em destaque)</strong>"%></li>
      <% else %>
          <li><%= noticia.titulo %></li>
      <% end %>

<% end %>
</ul>

<h3>Ofertas Registadas na ultima semana</h3>
<ul>
<% @ofertas.each do |oferta| %>
    <li><%= oferta.titulo%>, de <%= oferta.dataI%> a <%= oferta.dataF%> e com um salario entre <%= oferta.salario.designacao%></li>
<% end %>
</ul>
