<%= tinymce_assets %>
<div id="flash">
  <% if notice.present? %>
    <%= render partial: "shared/notice_banner" %>
  <% end %>
</div>
<script>
$(function() {
  var minDate = new Date();
     $( ".datepicker" ).datepicker({
    defaultDate: minDate,
    changeMonth: true,
    changeYear: true,
    dateFormat: "dd-mm-yy",
  });
});
</script>
<%= simple_form_for @noticium do |f| %>
<%= f.error_notification %>
  <!-- <% if @noticium.errors.any? %>
  <div class="row">
    <div class="span12 offset1">
       <ul>
        <% @noticium.errors.full_messages.each do |message| %>
          <li style="display:block;color:red;"><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %> -->

<div class="row">
  <div class="span6 offset1">
      <div class="form-inputs">
        <%= f.label :titulo, 'Titulo'%>
        <%= f.input :titulo, label: false %>
      </div>

  </div>
  <div class="span6 offset1">
    <%= f.label :data, 'Data'%>
    <%= f.text_field :data, :class => "datepicker","data-provide" => 'datepicker', label: false %>
    <span class="help-block"><%= show_errors(@noticium, :data) %></span>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
        <%= f.label :sumario, 'Sumário'%>
        <%= f.text_area :sumario, :class => "tinymce", :rows => 7, :cols => 120, label: false %>
        <span class="help-block"><%= show_errors(@noticium, :sumario) %></span>
      </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
        <%= f.label :texto, 'Texto'%>
        <%= f.text_area :texto, :class => "tinymce", :rows => 7, :cols => 120, label: false %>
        <span class="help-block"><%= show_errors(@noticium, :texto) %></span>
      </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
          <%= f.label :imagem, 'Imagem'%>
          <%= f.input :imagem, as: :file, label: false %>
      </div>
  </div>
</div>

<div class="row">
  <div class="span6 offset1">
      <div class="form-inputs">
          <%= f.label :destaque, 'Destaque'%>
          <%= f.check_box :destaque, {}, '1', '0' %>
          Aparece em destaque

      </div>
  </div>
  <div class="span6 offset1">
    <div class="form-inputs">
        <%= f.label :activo, 'Activo'%>
        <%= f.check_box :activo, {}, '1', '0' %>
        Sim
    </div>
  </div>

</div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <%= link_to 'Back', noticia_path %>
<% end %>
<%= tinymce %>
