<div class="row">
  <div class="span12 offset1">
    <h2>Noticias</h2>
  </div>
</div>

<div class="row">
  <% @noticias.each do |noticia| %>
  <div class="span6 offset1">
    <div class="span2 offset0">
        <%= image_tag noticia.imagem.url %>
    </div>
    <div class="span3 offset0">
    <% if noticia.destaque %>
      <%= link_to noticia.titulo+"(Em Destaque)", noticium_frontoffice_path(noticia) %>
    <% else %>
      <%= link_to noticia.titulo, noticium_frontoffice_path(noticia) %>
    <% end %>
  </br>
    <%= noticia.data%></br>
    <%= noticia.sumario[0..100].html_safe %>
    </div>
  </div>
  <% end %>
</div>

<%= will_paginate @noticias, :remote => true %>
