<div class="row">
  <div class="span12 offset1">
    <h2>Notícias</h2>
  </div>
</div>
<div id="flash">
  <% if notice.present? %>
    <%= render partial: "shared/notice_banner" %>
  <% end %>
</div>
<div class="row">
  <div class="span12 offset1">
    <input type="text" id="search" value="" onkeyup="updateSearchSimple()">
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
    <table>
      <thead>
        <tr>
          <th>Notícia</th>
          <th>Data</th>
          <th>Destaque</th>
          <th>Activo</th>
          <th>Acções</th>
        </tr>
      </thead>

      <tbody>
        <% @noticia.each do |noticium| %>
          <tr>
            <td><%= noticium.titulo %></td>
            <td><%= noticium.data %></td>
            <td><%= toPT(noticium.destaque)%></td>
            <td><%= toPT(noticium.activo)%></td>
            <td>
              <%= link_to 'Detalhes', noticium_path(noticium), :class => "btn" %>
              <%= link_to 'Editar', edit_noticium_path(noticium), :class => "btn"  %>
              <%= link_to 'Apagar', noticium, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

<%= link_to 'Inserir', new_noticium_path, :class => "btn" %>
</div>
</div>
