<div class="row">
  <div class="span12 offset1">
    <h2>Detalhe da Noticia</h2>
  </div>
</div>
<div id="flash">
  <% if notice.present? %>
    <%= render partial: "shared/notice_banner" %>
  <% end %>
</div>
  <div class="row">
    <div class="span6 offset1">
      <p>
        <strong>Titulo:</strong>
      </p>
      <p>
        <%= @noticium.titulo %>
      </p>
    </div>
    <div class="span6 offset1">
      <p>
        <strong>Data:</strong>
      </p>
      <p>
        <%= @noticium.data %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span12 offset1">
      <p>
        <strong>Sumário:</strong>
      </p>
      <p>
        <%= @noticium.sumario.html_safe %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span12 offset1">
      <p>
        <strong>Texto:</strong>
      </p>
      <p>
        <%= @noticium.texto.html_safe %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span12 offset1">
      <p>
        <strong>Imagem:</strong>
      </p>
      <p>
        <%= image_tag @noticium.imagem.url%>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span6 offset1">
      <p>
        <strong>Destaque:</strong>
      </p>
      <p>
        <%= toPT(@noticium.destaque) %>
      </p>
    </div>
    <div class="span6 offset1">
      <p>
        <strong>Activo:</strong>
      </p>
      <p>
        <%= toPT(@noticium.activo) %>
      </p>
    </div>
  </div>
<div class="row">
  <div class="span12 offset1">
    <%= link_to 'Edit', edit_noticium_path(@noticium), :class => "btn" %>
    <%= link_to 'Apagar', @noticium, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
    <%= link_to 'Inserir', new_noticium_path, :class => "btn" %>
    <%= link_to 'Listagem', noticia_path, :class => "btn" %>
  </div>
</div>
