<div class="row">
  <div class="span12 offset1">
    <h2><%= @noticium.titulo %></h2>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
    <%= @noticium.data %>
  </div>
</div>
<div>
<div class="row">
  <div class="span12 offset1">
      <%= image_tag @noticium.imagem.url,:class => "noticia-imagem" %>
      <p style="text-align: justify; text-indent: 2em;"><%= @noticium.texto.html_safe %>
    </p>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
<%= link_to 'Ver Todas'.html_safe, noticia_frontoffice_path %>
</div>
</div>
</div>
