
<div class="row">
<% @candidatos.each do |candidato| %>
  <div class="span6 offset1" style="margin-bottom:20px;">
    <div class="span2 offset0">
        <%= image_tag candidato.foto.url%>
    </div>
    <div class="span3 offset0">
    <div class="row">
    <%= link_to candidato.user.nome, candidato_path(candidato) %>
  </div>
    <div class="row">
      <%=  candidato.area_prof.designacao%>
    </div>
      <div class="row">
      <%= candidato.exp_profissional[0..100].html_safe %>
    </div>
    </div>
    <div class="row">
      <div class="span6 offset0" style="margin-top:14px;">
        <% if currentUserIsEntidade? %>
          <% if current_user.following?(candidato.user) %>
              <%= link_to "Não Interessado", del_interesse_path(candidato.user.id), :class => "btn", :method => :delete,remote: true %>
          <% else %>
              <%= link_to "Interessado", cre_interesse_path(candidato.user.id), :class => "btn", :method => :post,remote: true %>
          <% end %>
        <% end %>
        <% if currentUserIsAdmin? || currentUserIsCandidato? %>
          <%= link_to "Edit", edit_candidato_path(candidato), :class => "btn" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
<%= will_paginate @candidatos, :remote => true %>
