<%= tinymce_assets %>
<script>
  $(function() {
    var minDate = new Date();
    var maxDate = new Date();
       $( ".datepicker" ).datepicker({
      defaultDate: minDate,
      changeMonth: true,
      changeYear: true,
      dateFormat: "dd-mm-yy",
      maxDate: maxDate,
    });
  });
</script>
<%= simple_form_for @candidato do |f| %>
  <%= f.error_notification %>
    <!-- <% if @candidato.errors.any? %>
    <div class="row">
      <div class="span12 offset1">
         <ul>
          <% @candidato.errors.full_messages.each do |message| %>
            <li style="display:block;color:red;"><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %> -->
  <%= f.fields_for @user do |u| %>


  <div class="row">
    <div class="span6 offset1">
        <div class="form-inputs">
          <%= f.label :email, 'Email'%>
          <%= u.input :email, label: false %>
        </div>
    </div>
      <div class="span6 offset1">
            <p>
              <label>Subscrever newsletter:</label>
            </p>
            <p>
            <%= u.check_box :subscription_newsletter, {}, '1', '0' %>  </p>
      </div>
  </div>
  <div class="row">
    <div class="span6 offset1">
        <div class="form-inputs">
          <%= f.label :password, 'Password'%>
           <%= u.input :password, label: false %>
        </div>
    </div>
    <div class="span6 offset1">
        <div class="form-inputs">
          <%= f.label :email, 'Confirmar Password'%>
           <%= u.input :password_confirmation, label: false %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="span6 offset1">
        <div class="form-inputs">
          <%= f.label :nome, 'Nome'%>
           <%= u.input :nome, label: false %>
        </div>
    </div>
 <% end %>
    <div class="span6 offset1">
      <%= f.label :foto, 'Foto'%>
      <%= f.input :foto, as: :file, label: false %>
    </div>
  </div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
        <%= f.label :morada, 'Morada'%>
        <%= f.input :morada, label: false %>
      </div>

  </div>
</div>
<div class="row">
  <div class="span6 offset1">
      <div class="form-inputs">

        <div class="form-inputs">
          <%= f.label :codigoPostal, 'Codigo Postal'%>
          <%= f.input :codigoPostal, label: false %>
        </div>
      </div>
  </div>
  <div class="span6 offset1">
      <div class="form-inputs">

        <div class="form-inputs">
          <%= f.label :concelho_id, 'Localidade'%>
          <%=  f.collection_select :concelho_id, Concelho.order(:designacao),:id,:designacao, include_blank: false, label: false  %>
        </div>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset1">
      <div class="form-inputs">

        <div class="form-inputs">
          <%= f.label :contacto, 'Contacto'%>
          <%= f.input :contacto, label: false %>
        </div>
        <div class="form-inputs">
          <%= f.label :contactoSec, 'Contacto Alternativo'%>
          <%= f.input :contactoSec, label: false %>
        </div>
      </div>
  </div>
  <div class="span6 offset1">
      <div class="form-inputs">

        <div class="form-inputs">
          <%= f.label :pagina, 'Pagina'%>
          <%= f.input :pagina, label: false %>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset1">
    <div class="form-inputs">
      <%= f.label :data, 'Data de nascimento'%>
      <%= f.text_field :data, :class => "datepicker","data-provide" => 'datepicker', label: false %>
      <span class="help-block"><%= show_errors(@candidato, :data) %></span>
    </div>
  </div>
  <div class="span6 offset1">
    <div class="form-inputs">
      <%= f.label :bi, 'BI'%>
      <%= f.input :bi, label: false %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset1">
    <div class="form-inputs">
      <%= f.label :cv, 'Curriculum Vitae'%>
      <%= f.input :cv, as: :file, label: false %>
    </div>
  </div>
  <div class="span6 offset1">
    <div class="form-inputs">
      <%= f.label :area_prof_id, 'Area Profissional'%>
      <%=  f.collection_select :area_prof_id, AreaProfissional.order(:designacao),:id,:designacao, include_blank: false, label: false  %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
        <%= f.label :apresentacao, 'Apresentação'%>
        <%= f.text_area :apresentacao, :class => "tinymce", :rows => 7, :cols => 120, label: false %>
<span class="help-block"><%= show_errors(@candidato, :apresentacao) %></span>
      </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
        <%= f.label :habilitacao_id, 'Habilitação'%>
        <%=  f.collection_select :habilitacao_id, NHabilitacoes.order(:designacao),:id,:designacao, include_blank: false, label: false  %>
      </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
        <%= f.label :habilitacoes, 'Habilitações'%>
        <%= f.text_area :habilitacoes, :class => "tinymce", :rows => 7, :cols => 120, label: false %>
        <span class="help-block"><%= show_errors(@candidato, :habilitacoes) %></span>
      </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
        <%= f.label :situacao_prof_id, 'Situação Profissional'%>
        <%=  f.collection_select :situacao_prof_id, SituacaoProfissional.order(:designacao),:id,:designacao, include_blank: false, label: false  %>
      </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
        <%= f.label :exp_profissional, 'Experiencia Profissional'%>
        <%= f.text_area :exp_profissional, :class => "tinymce", :rows => 7, :cols => 120, label: false %>
        <span class="help-block"><%= show_errors(@candidato, :exp_profissional) %></span>
      </div>
  </div>
</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
