<div class="row">
  <div class="span12 offset1">
    <h2>Perfil - <%=@candidato.user.nome%></h3>
  </div>
</div>
<div class="row">
  <div class="span8 offset1">
    <h3>Candidaturas</h3>
      <% @candidato.candidaturas.each do |cand| %>
        <div class="row">
          <div class="span2">
            <%= image_tag cand.oferta.foto.url%></br>
          </div>
          <div class="span4">
              <div class="span4">
              <%= link_to cand.oferta.titulo, ofertum_path(cand.oferta) %>
              </div>
              <div class="span4">
                <%= cand.oferta.dataI %> a <%= cand.oferta.dataF %>
              </div>
              <div class="span4">
                <%= cand.oferta.descricao[0..100].html_safe %>
              </div>
          </div>
        </div>
      <% end %>

    <h3>empresas interessados em mim</h3>
    <% @candidato.user.interessadosEmMim.each do |inte| %>
      <div class="row">
        <div class="span2">
          <%= image_tag inte.entidade.foto.url%></br>
        </div>
        <div class="span4">
            <div class="span4">
            <%= link_to inte.nome, entidade_path(inte.entidade.id) %>
            </div>
            <div class="span4">
              <%= inte.entidade.apresentacao[0..100].html_safe %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="span6 offset1">
    <div>
      <h3>Candidato</h3>
    </div>
    <div>
    <%= link_to "Editar dados", edit_candidato_path(@candidato.id), :class => "btn" %>
    <%= link_to "Alterar Password", editpassword_frontoffice_user_path(@candidato.user.id), :class => "btn" %>
    </div>
  </div>
</div>
