<div class="row">
  <div class="span12 offset1">
    <h3><%=@candidato.user.nome%></h3>
  </div>
</div>
<div class="row">
  <div class="span2 offset1">
    <div>
      <%= image_tag @candidato.foto.url, :style => "margin-left: auto;margin-right: auto;"%>
    </div>
    <div class="row" style="text-align:center;margin-top:14px;margin-left: auto;margin-right: auto;">
      <%= link_to  "Curriculum Vitae",  @candidato.cv.url(:original, false) %>
    </div>
    <div class="row" style="text-align:center;margin-top:14px;margin-left: auto;margin-right: auto;">
      <% if currentUserIsEntidade? %>
        <% if current_user.following?(@candidato.user) %>
            <%= link_to "Não Interessado", del_interesse_path(@candidato.user.id), :class => "btn", :method => :delete,remote: true %>
        <% else %>
            <%= link_to "Interessado", cre_interesse_path(@candidato.user.id), :class => "btn", :method => :post,remote: true %>
        <% end %>
      <% end %>
    </div>
    <div class="row" style="text-align:center;margin-top:14px;margin-left: auto;margin-right: auto;">
      <% if currentUserIsAdmin? || currentUserIsCandidato? %>
        <%= link_to "Edit", edit_candidato_path(@candidato), :class => "btn" %>
      <% end %>
    </div>
  </div>

  <div class="span9 offset1">
    <div class="row">
      <p>
        <%=@candidato.apresentacao.html_safe %>
      </p>

    </div>
    <div class="row">
      <p>
        <strong>Atividade Profissional:</strong></br>
        <%=@candidato.area_prof.designacao %>
      </p>
    </div>
    <div class="row">
        <h3>Dados Profissionais</h3>
    </div>
    <div class="row">
      <p>
        <strong>Situação Profissional:</strong></br>
        <%=@candidato.situacao_prof.designacao %>
      </p>
    </div>
    <div class="row">
      <p>
        <strong>Nivel Habilitações:</strong></br>
        <%=@candidato.habilitacao .designacao  %>
      </p>
    </div>

    <div class="row">
      <p>
        <strong>Habilitações Literárias:</strong></br>
        <%=@candidato.habilitacoes.html_safe %>
      </p>
    </div>
    <div class="row">
      <p>
        <strong>Experiencia Profissional:</strong></br>
        <%=@candidato.exp_profissional.html_safe %>
      </p>
    </div>
  </br>
    <div class="row">
        <h3>Dados Pessoais</h3>
    </div>
    <div class="row">
      <p>
        <strong>Morada:</strong></br>
        <%=@candidato.morada %>
      </p>
    </div>
    <div class="row">
      <p>
        <strong>Contactos:</strong></br>
        <%=@candidato.contacto %></br>
        <%=@candidato.contactoSec %>
      </p>
    </div>
    <div class="row">
      <%= link_to @candidato.pagina, extlink(@candidato.pagina), :target => "_blank" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 offset1">
    <%= link_to 'Ver Candidatos', candidatos_path %>
  </div>
</div>
