<div class="row">
  <div class="span8 offset1">
      <h3 style="margin-top:20px;">Últimas Ofertas</h3>
      <% @ofertas.each do |oferta| %>
        <div class="row">
          <div class="span2">
            <%= image_tag oferta.foto.url%></br>
          </div>
          <div class="span4">
              <div class="span4">
              <%= link_to oferta.titulo, ofertum_path(oferta) %>
              </div>
              <div class="span4">
                <%= oferta.dataI %> a <%= oferta.dataF %>
              </div>
              <div class="span4">
                <%= oferta.descricao[0..100].html_safe %>
              </div>
          </div>
        </div>
      <% end %>
      <%= link_to "Ver todas as ofertas", oferta_path %>
    </div>

    <div class="span6 offset1">
      <h3 style="margin-top:20px;">Notcias</h3>
      <% @noticias.reverse.each do |noticium| %>
        <div class="row">
          <div class="span2">
            <%= image_tag noticium.imagem.url%></br>
          </div>
          <div class="span4">
              <div class="span4">
              <% if noticium.destaque %>
                <%= link_to noticium.titulo+"(Em Destaque)", noticium_frontoffice_path(noticium) %>
              <% else %>
                <%= link_to noticium.titulo, noticium_frontoffice_path(noticium) %>
              <% end %>
              </div>
              <div class="span4">
                <%= noticium.data %>
              </div>
              <div class="span4">
                <%= noticium.sumario[0..100].html_safe %>
              </div>
          </div>
        </div>
      <% end %>
      <%= link_to "Ver todas as noticias", noticia_frontoffice_path %>
    </div>
</div>


<div class="row">
  <div class="span8 offset1">
    <h3 style="margin-top:20px;">Últimas Empresas</h3>
    <% @empresas.each do |empresa| %>
      <div class="row">
        <div class="span2">
          <%= image_tag empresa.foto.url%></br>
        </div>
        <div class="span4">
            <div class="span4">
            <%= link_to empresa.user.nome, entidade_path(empresa) %>
            </div>
            <div class="span4">
              <%= empresa.apresentacao[0..150].html_safe %>
            </div>
        </div>
      </div>
    <% end %>
    <%= link_to "Ver todas as empresas", entidades_path %>
  </div>
  <div class="span6 offset1">
    <h3 style="margin-top:20px;">Últimos Candidatos</h3>
    <% @candidatos.each do |candidato| %>
      <div class="row">
        <div class="span2">
          <%= image_tag candidato.foto.url%></br>
        </div>
        <div class="span4">
            <div class="span4">
            <%= link_to candidato.user.nome, candidato_path(candidato) %>
            </div>
            <div class="span4">
              <%= candidato.exp_profissional[0..150].html_safe %>
            </div>
        </div>
      </div>
    <% end %>
    <%= link_to "Ver todos os candidatos", candidatos_path %>
  </div>
</div>
