<!DOCTYPE html>
<html>
<head>
  <title>BolsaDeEmprego</title>
  <%= stylesheet_link_tag "application", media: "all",
                                         "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="row">
    <div class="span7 offset1">
    <h1>Bolsa de Emprego</h1>
    </div>
    <div class="span5 offset0" style="float: right;margin-top:20px;">
      <ul style="float: right;margin-right: 30px;">
      <% if !current_page?(signin_path) %>
        <% if signed_in?%>
          <li><%= link_to current_user.nome, profileHelper, method: "get" %></li>
          <li>|</li>
          <li><%= link_to "Terminar Sessão", signout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Registar-me", signup_path, method: "get" %></li>
          <li>|</li>
          <li><%= link_to "Login", signin_path, method: "get" %></li>

        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span4 offset1">
      <% if containsBackoffice %>
        <ul>
          <li><%= link_to "Home", home_backoffice_path, method: "get" %></li>
          <li>|</li>
          <li><%= link_to "Utilizadores", users_path, method: "get" %></li>
          <li>|</li>
          <li><%= link_to "Noticias", noticia_path, method: "get" %></li>
          <li>|</li>
          <li onclick = "$('.hide').attr('class', 'alert-box');"><a ><%= link_to "Enviar Newsletter", newsletter_new_path,:id => 'newsletter', :method => :get,remote: true %></a></li>

        </ul>

      <% else %>
        <ul>
          <li><%= link_to "Home", home_path, method: "get" %></li>
          <li>|</li>
          <li><%= link_to "Entidades", entidades_path, method: "get" %></li>
          <li>|</li>
          <li><%= link_to "Candidatos", candidatos_path, method: "get" %></li>
          <li>|</li>
          <li><%= link_to "Ofertas", oferta_path, method: "get" %></li>
          <li>|</li>
          <li><%= link_to "Noticias", noticia_frontoffice_path, method: "get" %></li>
        </ul>
      <% end %>
    </div>
    <div class="span2 offset7">

    </div>
  </div>


  <div class="container">
    <div data-alert class="hide">
      <div class="alert alert-success">Newsletter enviado com sucesso!<a href="#" class="close">&times;</a></div>

    </div>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <%= yield %>
  <div style="color: red !important;">

</div>
</body>
</html>
