<div id="flash">
  <% if notice.present? %>
    <%= render partial: "shared/notice_banner" %>
  <% end %>
</div>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
    <div class="row">
      <div class="span6 offset1">
        <%= f.input :nome, placeholder: 'Introduza o nome' %>
      </div>
      <div class="span6 offset1">
        <p>
          <label>Tipo:</label>
        </p>
        <p>
          Backoffice
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span6 offset1">
        <%= f.input :email, placeholder: 'Introduza o email' %>
      </div>
      <div class="span6 offset1">
        <p>
          <label>Activo:</label>
        </p>
      <%= f.check_box :activo, {}, '1', '0' %>
    </div>
    </div>
  </div><div class="row">
    <div class="span12 offset1">
          <p>
            <label>Subscrever newsletter:</label>
          </p>
          <p>
          <%= f.check_box :subscription_newsletter, {}, '1', '0' %>  </p>
    </div>
  </div>
    <div class="row">
      <div class="span12 offset1">
        <%= f.submit "Submeter", class: "btn btn-large btn-primary" %>
      </div>
    </div>
  <% end %>
