
<div class="row">
  <div class="span12 offset1">
    <h2>Alterar Password</h2>
  </div>
</div>
<div id="flash">
  <% if notice.present? %>
    <%= render partial: "shared/notice_banner" %>
  <% end %>
</div>
<div class="row">
    <%= simple_form_for(@user) do |f| %>

    <div class="span12 offset1">
      <p>
        <label> Nome:</label>
      </p>
      <p>
      <%= @user.nome %>
      </p>
    </div>
    <div class="span12 offset1">
      <%= f.input :password, placeholder: 'Introduza a password' %>
    </div>
    <div class="span12 offset1">
      <%= f.input :password_confirmation, placeholder: 'Introduza novamente a password' %>
    </div>
    <div class="span12 offset1">
      <%= f.submit "Gravar", class: "" %>
    </div>
    <% end %>
</div>
