<div class="row">
  <div class="span12 offset1">
    <h2>Utilizadores</h2>
  </div>
</div>
<div id="flash">
  <% if notice.present? %>
    <%= render partial: "shared/notice_banner" %>
  <% end %>
</div>
<div class="row">
  <div class="span12 offset1">
    <input type="text" id="search" value="" onkeyup="updateSearch()">
    <select id="searchType" onchange="updateSearch()">
    <option value="Nome">Nome</option>
    <option value="Tipo">Tipo</option>
    <option value="Activo">Activo</option>
  </select>
  </div>
</div>


<div class="row">
  <table class="span12 offset1">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Activo</th>
        <th>Acções</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.nome %></td>
          <td><%= getDesignacao(user.tipo_user_id) %></td>
          <td><%= toPT(user.activo)%></td>


          <td>
            <%= link_to 'Detalhes', user_path(user), :class => "btn" %>
            <%= link_to 'Editar', edit_user_path(user), :class => "btn"  %>
            <%= link_to 'Apagar', user, method: :delete, :class => "btn", data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div class="row">
  <div class="span12 offset1">
    <%= link_to 'Inserir', new_user_path, :class => "btn" %>

</div>
</div>
