<div class="row">
  <div class="span12 offset1">
    <h3>Novo Registo</h3>
  </div>
</div>

<div class="row">
  <div class="span12 offset1" style="margin-top:30px">
    <%= link_to "Sou uma entidade", new_entidade_path, :class => "btn btn-extralarge" %>
  </div>
</div>
<div class="row">
  <div class="span12 offset1" style="margin-top:30px">
    <%= link_to "Sou um candidato", new_candidato_path, :class => "btn btn-extralarge" %>
  </div>
</div>
