<div class="row">
  <div class="span12 offset1">
    <h2>Detalhe do utilizador</h2>
  </div>
</div>
<div id="flash">
  <% if notice.present? %>
    <%= render partial: "shared/notice_banner" %>
  <% end %>
</div>
  <div class="row">
    <div class="span6 offset1">
      <p>
        <strong>Nome:</strong>
      </p>
      <p>
        <%= @user.nome %>
      </p>
    </div>
    <div class="span6 offset1">
      <p>
        <strong>Tipo:</strong>
      </p>
      <p>
        <%= @tipo.designacao %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span6 offset1">
      <p>
        <strong>Email:</strong>
      </p>
      <p>
        <%= @user.email %>
      </p>
    </div>
    <div class="span6 offset1">
      <p>
        <strong>Activo:</strong>
      </p>
      <p>
        <%= @activo%>
      </p>
    </div>
  </div>
<div class="row">
  <div class="span12 offset1">
    <%= link_to 'Edit', edit_user_path(@user), :class => "btn" %>
    <%= link_to 'Alterar Password', editpassword_user_path(@user), :class => "btn" %>
    <%= link_to 'Apagar',  @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
    <%= link_to 'Inserir', new_user_path, :class => "btn" %>
    <%= link_to 'Listagem', users_path, :class => "btn" %>
  </div>
</div>
