@import "bootstrap";

table td
{
   border: 1px solid black;
}

table tr:nth-child(even)
{
   background-color:#F2F2F2;
}

table tr:nth-child(odd)
{
    background-color: white;
}

table th
{
   text-align: left;
   font-weight: bolder;
   background-color: #A4A4A4  ;
   color: black;
   border: 1px solid black;

}

li
{
    display: inline;
}

ul
{
    margin: 0px;
}

div
{
    word-wrap: break-word;
}

img
{
    width: 100px;
    margin-top: 10px;
    display: block;
}
.btn-extralarge
{
  padding: 10% 60%;
  white-space: nowrap;
}
.noticia-imagem
{
  float: right;
}
