Foi requirida uma nova password para a sua conta de utilizador, caso tenha realizado esta ação por favor use o link seguinte para reeniciar a mesma, caso não tenha requirido esta ação por favor ignore o presente email.

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>
