<script>
$(document).ready(function() {
$("#naointeressado").click(function() {
            $.ajax({
                type: "delete",
                contentType: "application/json; charset=utf-8",
                url: $("#naointeressado").attr('value'),
                dataType: "json",
                success: function (result) {
                  $("#naointeressado").text('Interessado');
                  $("#naointeressado").attr('id', "interessado");
                },
                error: function (){
                    window.alert("something wrong!");
                }
            });
        });
      });

</script>
<div class="row">
<% @entidades.each do |entidade| %>
  <div class="span6 offset1" style="margin-bottom:20px;">
    <div class="span2 offset0">
        <%= image_tag entidade.foto.url%>
    </div>
    <div class="span3 offset0">
    <div class="row">
    <%= link_to entidade.user.nome, entidade_path(entidade) %>
  </div>
    <div class="row">
      <%= entidade.oferta.where("activo=true").count %> ofertas ativas
    </div>
      <div class="row">
      <%= entidade.apresentacao[0..100].html_safe %>
    </div>
    </div>
    <div class="row">
      <div class="span6 offset0" style="margin-top:14px;">
        <% if currentUserIsCandidato? %>
          <% if current_user.following?(entidade.user) %>
              <%= link_to "Não Interessado", del_interesse_path(entidade.user.id), :class => "btn", :method => :delete,remote: true %>
          <% else %>
              <%= link_to "Interessado", cre_interesse_path(entidade.user.id), :class => "btn", :method => :post,remote: true %>
          <% end %>
        <% end %>
        <% if currentUserIsAdmin? || current_user.id==entidade.user.id %>
          <%= link_to "Edit", edit_entidade_path(entidade), :class => "btn" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
<%= will_paginate @entidades, :remote => true %>
