<%= tinymce_assets %>
<%= simple_form_for @entidade do |f| %>
  <%= f.error_notification %>
  <!-- <% if @entidade.errors.any? %>
  <div class="row">
    <div class="span12 offset1">
       <ul>
        <% @entidade.errors.full_messages.each do |message| %>
          <li style="display:block;color:red;"><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %> -->
  <%= f.fields_for @user do |u| %>
  <div class="row">
    <div class="span6 offset1">
        <div class="form-inputs">
            <%= f.label :email, 'Email'%>
            <%= u.input :email, label: false %>
        </div>
    </div>
      <div class="span6 offset1">
            <p>
              <label>Subscrever newsletter:</label>
            </p>
            <p>
            <%= u.check_box :subscription_newsletter, {}, '1', '0' %>  </p>
      </div>
  </div>
  <div class="row">
    <div class="span6 offset1">
        <div class="form-inputs">
           <%= f.label :password, 'Password'%>
           <%= u.input :password, label: false %>
        </div>
    </div>
    <div class="span6 offset1">
        <div class="form-inputs">
           <%= f.label :password, 'Confirmar Password'%>
           <%= u.input :password_confirmation, label: false %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="span6 offset1">
        <div class="form-inputs">
          <%= f.label :nome, 'Nome'%>
           <%= u.input :nome, label: false %>
        </div>
    </div>
 <% end %>
    <div class="span6 offset1">
      <%= f.label :foto, 'Foto'%>
      <%= f.input :foto, as: :file, label: false %>
    </div>
  </div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
        <%= f.label :morada, 'Morada'%>
        <%= f.input :morada, label: false %>
      </div>

  </div>
</div>
<div class="row">
  <div class="span6 offset1">
      <div class="form-inputs">

        <div class="form-inputs">
          <%= f.label :codigoPostal, 'Código Postal'%>
          <%= f.input :codigoPostal, label: false %>
        </div>
      </div>
  </div>
  <div class="span6 offset1">
      <div class="form-inputs">

        <div class="form-inputs">
          <%= f.label :concelho_id, 'Localidade'%>
          <%=  f.collection_select :concelho_id, Concelho.order(:designacao),:id,:designacao, include_blank: false, label: false  %>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset1">
      <div class="form-inputs">
        <div class="form-inputs">
          <%= f.label :contacto, 'Contacto'%>
          <%= f.input :contacto, label: false %>
        </div>
        <div class="form-inputs">
          <%= f.label :contactoSec, 'Contacto Alternativo'%>
          <%= f.input :contactoSec, label: false %>
        </div>
      </div>
  </div>
  <div class="span6 offset1">
      <div class="form-inputs">

        <div class="form-inputs">
          <%= f.label :pagina, 'Pagina'%>
          <%= f.input :pagina, label: false %>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
    <div class="form-inputs">
      <%= f.label :nif, 'NIF'%>
      <%= f.input :nif, label: false %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
    <div class="form-inputs">
      <%= f.label :atividade_prof_id, 'Actividade Profissional'%>
      <%=  f.collection_select :atividade_prof_id, AtividadeProfissional.order(:designacao),:id,:designacao, include_blank: false, label: false  %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
      <div class="form-inputs">
        <%= f.label :apresentacao, 'Apresentação'%>
        <%= f.text_area :apresentacao, :class => "tinymce", :rows => 7, :cols => 120, label: false %>
        <span class="help-block"><%= show_errors(@entidade, :apresentacao) %></span>
      </div>
  </div>
</div>
</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
