<div class="row">
  <div class="span12 offset1">
    <h3>Entidades</h3>
  </div>
</div>
<script>
$(function() {
  $("#entidades_search p input").keyup(function() {
    //$(this.form).submit()
    $("#entidades_search").submit()
    //$.get($("#candidatos_search").attr("action"), $("#candidatos_search").serialize(), null, "script");
    return false;
  });
  $('#search_drop1').on('change', function(){
  $("#entidades_search").submit()
  });

  $('#search_drop2').on('change', function(){
  $("#entidades_search").submit()
  });

});
</script>

<div class="row">
  <div class="span12 offset1">
  <%= form_tag entidades_path, :method => 'get', :id => "entidades_search", remote:true  do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <% if !params[:area]%>
      <%=   collection_select :area, :id, AtividadeProfissional.order(:designacao),:id,:designacao, {:include_blank => 'Atividade Profissional'}, {:id => "search_drop1",label: false }  %>
      <% else %>
      <%=   collection_select :area, :id, AtividadeProfissional.order(:designacao),:id,:designacao, {:include_blank => 'Atividade Profissional',:selected => params[:area][:id]}, {:id => "search_drop1",label: false }  %>
      <% end %>
      <% if !params[:concelho]%>
      <%=   collection_select :concelho, :id, Concelho.order(:designacao),:id,:designacao, {:include_blank => 'Concelho'}, {:id => "search_drop2",label: false }  %>
      <% else %>
      <%=   collection_select :concelho, :id, Concelho.order(:designacao),:id,:designacao, {:include_blank => 'Concelho',:selected => params[:concelho][:id]}, {:id => "search_drop2",label: false }  %>
      <% end %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

  </div>
</div>



<div id="entidades"><%= render 'entidades' %></div>



<div class="row">
  <div class="span12 offset1">
      <%= link_to 'Quero-me registar', signup_path %>
  </div>
</div>
