<div class="row">
  <div class="span12 offset1">
    <h2>Perfil - <%=@entidade.user.nome%></h3>
  </div>
</div>
<div class="row">
  <div class="span9 offset1">
    <h3>Ofertas</h3>
      <% @entidade.oferta.where(activo: 'true').each do |ofert| %>
        <div class="row">
          <div class="span2">
            <%= image_tag ofert.foto.url%></br>
          </div>
          <div class="span4">
              <div class="span4">
              <%= link_to ofert.titulo, ofertum_path(ofert) %>
              </div>
              <div class="span4">
                <%= ofert.dataI %> a <%= ofert.dataF %>
              </div>
              <div class="span4">
                <%= ofert.descricao[0..100].html_safe %>
              </div>
          </div>
          <div class="span3">
          <%= link_to "Editar", edit_ofertum_path(ofert), :class => "btn" %>
          <%= link_to "Cancelar", desactivar_oferta_path(ofert), :class => "btn" , method: :delete,remote: true,
                                  data: { confirm: "Pretende cancelar a oferta?" }%>
          </div>
        </div>
      <% end %>

      <%= link_to "Inserir oferta", new_ofertum_path(), :class => "btn" %>

  </div>
  <div class="span6 offset1">
    <div>
      <h3>Entidade</h3>
    </div>
    <div>
    <%= link_to "Editar dados", edit_entidade_path(@entidade.id), :class => "btn" %>
    <%= link_to "Alterar Password", editpassword_frontoffice_user_path(@entidade.user.id), :class => "btn" %>
    </div>
  </div>
</div>


<div class="row">
  <div class="span9 offset1">
  <h3>Histórico</h3>
    <% @entidade.oferta.where(activo: 'false').each do |ofert| %>
      <div class="row">
        <div class="span2">
          <%= image_tag ofert.foto.url%></br>
        </div>
        <div class="span4">
            <div class="span4">
            <%= link_to ofert.titulo, ofertum_path(ofert) %>
            </div>
            <div class="span4">
              <%= ofert.dataI %> a <%= ofert.dataF %>
            </div>
            <div class="span4">
              <%= ofert.descricao[0..100].html_safe %>
            </div>
        </div>
        <div class="span3">
        <%= link_to "Reactivar", activar_oferta_path(ofert), :class => "btn" , method: :post,remote: true,
                                data: { confirm: "Pretende activar a oferta?" }%>
        </div>
      </div>
    <% end %>

    </div>

    <div class="span6 offset1">
      <h3>Candidatos interessados</h3>
        <% @entidade.user.interessadosEmMim.each do |inte| %>
        <div class="row">
          <div class="span2">
            <%= image_tag inte.candidato.foto.url%></br>
          </div>
          <div class="span4">
              <div class="span4">
              <%= link_to inte.nome, candidato_path(inte.candidato) %>
              </div>
              <div class="span4">
                <%= inte.candidato.exp_profissional[0..150].html_safe %>
              </div>
          </div>
        </div>
        <% end %>

    </div>
  </div>
