<div class="row">
  <div class="span12 offset1">
    <h3><%=@user.nome%></h3>
  </div>
</div>
<div class="row">
  <div class="span2 offset1">
    <div>
      <%= image_tag @entidade.foto.url%>
    </div>
    <div style="margin-top:14px;">
      <% if currentUserIsCandidato? %>
        <% if current_user.following?(@entidade.user) %>
            <%= link_to "Não Interessado", del_interesse_path(@entidade.user.id), :class => "btn", :method => :delete,remote: true %>
        <% else %>
            <%= link_to "Interessado", cre_interesse_path(@entidade.user.id), :class => "btn", :method => :post,remote: true %>
        <% end %>
      <% end %>
    </div>
    <div style="margin-top:14px;">
      <% if currentUserIsAdmin? || currentUserIsEntidade? %>
        <%= link_to "Edit", edit_entidade_path(@entidade), :class => "btn" %>
      <% end %>
    </div>
  </div>
  <div class="span9 offset1">
    <div class="row">
      <p>
        <%=@entidade.apresentacao.html_safe %>
      </p>

    </div>
    <div class="row">
      <p>
        <strong>Atividade Profissional:</strong></br>
        <%=@atividade.designacao %>
      </p>
    </div>
    <div class="row">
      <p>
        <strong>Morada:</strong></br>
        <%=@entidade.morada %>
      </p>
    </div>
    <div class="row">
      <p>
        <strong>Contactos:</strong></br>
        <%=@entidade.contacto %></br>
        <%=@entidade.contactoSec %>
      </p>
    </div>
    <div class="row">
      <%= link_to @entidade.pagina, extlink(@entidade.pagina), :target => "_blank" %>
    </div>
  </div>
</div>


</br>
</br>

<div class="row">
  <div class="span12 offset1">
    <h3>Ofertas Activas</h3>
  </div>
  <div class="row">
    <% @ofertas.each do |oferta| %>
      <div class="span6 offset1">
        <div class="row">
          <div class="span2">
            <%= image_tag oferta.foto.url%></br>
          </div>
          <div class="span4">
              <div class="span4">
              <%= link_to oferta.titulo, ofertum_path(oferta) %>
              </div>
              <div class="span4">
                <%= oferta.dataI %> a <%= oferta.dataF %>
              </div>
              <div class="span4">
                <%= oferta.descricao[0..100] %>
              </div>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>


</br>
<div class="row">
  <div class="span12 offset1">
  <%= link_to 'Ver Entidades', entidades_path %>
  </div>
</div>
