<%= tinymce_assets %>
<script>



  $(function() {
  var minDate = new Date();
  var maxDate = new Date();
     $( "#ofertum_dataI" ).datepicker({
    defaultDate: minDate,
    changeMonth: true,
    changeYear: true,
    dateFormat: "dd-mm-yy",
    maxDate: maxDate,
    onClose: function( selectedDate ) {
      if(selectedDate != "")
      $( "#ofertum_dataF" ).datepicker( "option", "minDate", selectedDate );
    }
  });
  $( "#ofertum_dataF" ).datepicker({
    defaultDate: maxDate,
    changeMonth: true,
    changeYear: true,
    dateFormat: "dd-mm-yy",
    minDate: minDate,
    onClose: function( selectedDate ) {
      if(selectedDate != "")
      $( "#ofertum_dataI" ).datepicker( "option", "maxDate", selectedDate );
    }
  });
  });
  </script>
<%= simple_form_for @oferta do |f| %>
  <%= f.error_notification %>
  <!-- <% if @oferta.errors.any? %>
  <div class="row">
    <div class="span12 offset1">
       <ul>
        <% @oferta.errors.full_messages.each do |message| %>
          <li style="display:block;color:red;"><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %> -->
<div class="row">
  <div class="span6 offset1">
      <div class="form-inputs">
        <%= f.label :titulo, 'Titulo'%>
        <%= f.input :titulo, label: false %>
      </div>

  </div>
  <div class="span3 offset0">

    <%= f.label :dataI, 'Data Inicial'%>
    <%= f.text_field :dataI,  :id => "ofertum_dataI","data-provide" => 'datepicker', label: false %>
    <span class="help-block"><%= show_errors(@oferta, :dataI) %></span>
  </div>
  <div class="span3 offset0">
    <%= f.label :dataF, 'Data Final' %>
    <%= f.text_field :dataF,  :id => "ofertum_dataF","data-provide" => 'datepicker', label: false %>
    <span class="help-block"><%= show_errors(@oferta, :dataF) %></span>
  </div>
</div>

<div class="row">
  <div class="span12 offset1">
      <%= f.label :descricao, 'Descrição'%>
      <%= f.text_area :descricao%>
      <span class="help-block"><%= show_errors(@oferta, :descricao) %></span>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
      <%= f.label :descricao, 'Foto'%>
      <%= f.input :foto, as: :file, label: false %>
  </div>
</div>

<div class="row">
<div class="span12 offset1">
    <div class="form-inputs">
        <%= f.label :entidade_id, 'Empresa'%>
        <div style="margin-bottom: 12px;"><%=@entidade.user.nome%></div>
        <%= f.hidden_field :entidade_id, :value => @entidade.id, label: false %>
    </div>
</div>
</div></div>
<div class="row">
  <div class="span12 offset1">
    <div class="form-inputs">
      <%= f.label :atividade_prof_id, 'Actividade Profissional'%>
        <%=  f.collection_select :atividade_prof_id, AtividadeProfissional.order(:designacao),:id,:designacao, include_blank: false, label: false  %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
    <div class="form-inputs">

        <%= f.label :tipo_contrato_id, 'Tipo de Contrato'%>
        <%=  f.collection_select :tipo_contrato_id, TipoContrato.order(:designacao),:id,:designacao, include_blank: false, label: false  %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
    <div class="form-inputs">

        <%= f.label :salario_id, 'Previsao Salarial'%>
        <%=  f.collection_select :salario_id, Salario.order(:designacao),:id,:designacao, include_blank: false, label: false  %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 offset1">
    <div class="form-inputs">

        <%= f.label :activo, 'Activo'%>
        <%= f.check_box :activo, {}, '1', '0' %>
        Sim
    </div>
  </div>
</div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <%= link_to 'Back', noticia_path %>
<% end %>
