
<div class="row">
<% @oferta.each do |ofert| %>
  <div class="span6 offset1" style="margin-bottom:20px;">
    <div class="span2 offset0">
        <%= image_tag ofert.foto.url%>
    </div>
    <div class="span3 offset0">
    <div class="row">
    <%= link_to ofert.titulo, ofertum_path(ofert) %>
  </div>
    <div class="row">
      <%= ofert.dataI %> a <%= ofert.dataF %>
    </div>
      <div class="row">
      <%= ofert.descricao[0..100].html_safe %>
    </div>
    </div>
    <div class="row">
      <div class="span6 offset0" style="margin-top:14px;">
        <% if currentUserIsCandidato? %>
          <% if current_user.candidato.existCandidaturaPara?(ofert) %>
              <%= link_to "Retirar Candidatura", del_candidatura_path(ofert.id), :class => "btn", :method => :delete,remote: true %>
          <% else %>
              <%= link_to "Candidatura", cre_candidatura_path(ofert.id), :class => "btn", :method => :post,remote: true %>
          <% end %>
        <% end %>
        <% if currentUserIsAdmin? || currentUserIsEntidade? %>
          <%= link_to "Edit", edit_ofertum_path(ofert), :class => "btn" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
<%= will_paginate @oferta, :remote => true %>
