<div class="row">
  <div class="span12 offset1">
    <h3>Ofertas</h3>
  </div>
</div>

<script>
$(function() {
  $("#oferta_search p input").keyup(function() {
    //$(this.form).submit()
    $("#oferta_search").submit()
    //$.get($("#candidatos_search").attr("action"), $("#candidatos_search").serialize(), null, "script");
    return false;
  });
  $('#search_drop1').on('change', function(){
  $("#oferta_search").submit()
  });

  $('#search_drop2').on('change', function(){
  $("#oferta_search").submit()
  });

});
</script>

<div class="row">


<div class="span12 offset1">
<%= form_tag oferta_path, :method => 'get', :id => "oferta_search", remote:true  do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <% if !params[:area]%>
    <%=   collection_select :area, :id, AtividadeProfissional.order(:designacao),:id,:designacao, {:include_blank => 'Area de Atividade'}, {:id => "search_drop1",label: false }  %>
    <% else %>
    <%=   collection_select :area, :id, AtividadeProfissional.order(:designacao),:id,:designacao, {:include_blank => 'Area de Atividade',:selected => params[:area][:id]}, {:id => "search_drop1",label: false }  %>
    <% end %>
    <% if !params[:concelho]%>
    <%=   collection_select :concelho, :id, Concelho.order(:designacao),:id,:designacao, {:include_blank => 'Concelho'}, {:id => "search_drop2",label: false }  %>
    <% else %>
    <%=   collection_select :concelho, :id, Concelho.order(:designacao),:id,:designacao, {:include_blank => 'Concelho',:selected => params[:concelho][:id]}, {:id => "search_drop2",label: false }  %>
    <% end %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

</div>
</div>



  <div id="oferta"><%= render 'ofertum' %></div>
