<div class="row">
  <div class="span12 offset1">
    <h3><%=@oferta.titulo%></h3>
  </div>
</div>
<div class="row">
  <div class="span2 offset1">
    <div>
      <%= image_tag @oferta.foto.url, :style => "margin-left: auto;margin-right: auto;"%>
    </div>
    <div class="row" style="text-align:center;margin-top:14px;margin-left: auto;margin-right: auto;">
      <% if currentUserIsCandidato? %>
        <% if current_user.candidato.existCandidaturaPara?(@oferta) %>
            <%= link_to "Retirar Candidatura", del_candidatura_path(@oferta.id), :class => "btn", :method => :delete,remote: true %>
        <% else %>
            <%= link_to "Candidatura", cre_candidatura_path(@oferta.id), :class => "btn", :method => :post,remote: true %>
        <% end %>
      <% end %>
    </div>
    <div class="row" style="text-align:center;margin-top:14px;margin-left: auto;margin-right: auto;">
      <% if currentUserIsAdmin? || currentUserIsEntidade? %>
        <%= link_to "Edit", edit_ofertum_path(@oferta), :class => "btn" %>
      <% end %>
    </div>
  </div>

  <div class="span9 offset1">
    <div class="row">
      <p>
        <%=@oferta.descricao.html_safe %>
      </p>

    </div>
    <div class="row">
      <p>
          <%=@oferta.dataI %> a <%=@oferta.dataF %>
      </p>
    </div>
    <div class="row">
      <p>
        <strong>Empresa:</strong></br>
        <%=@oferta.entidade.user.nome %>
      </p>
    </div>
    <div class="row">
      <p>
        <strong>Atividade Profissional:</strong></br>
        <%=@oferta.atividade_prof.designacao  %>
      </p>
    </div>

    <div class="row">
      <p>
        <strong>Tipo de Contrato:</strong></br>
        <%=@oferta.tipo_contrato.designacao %>
      </p>
    </div>
    <div class="row">
      <p>
        <strong>Salario:</strong></br>
        Em falta
      </p>
    </div>

  </div>
</div>


<%if !currentUserIsEntidade? %>
<div class="row">
  <div class="span12 offset1">
    <div class="row">
        <h3>Outras ofertas na mesma área</h3>
    </div>
    <% @ofertadaarea.each do |ofert| %>
      <div class="span6 offset1" style="margin-bottom:20px;">
        <div class="span2 offset0">
            <%= image_tag ofert.foto.url%>
        </div>
        <div class="span3 offset0">
        <div class="row">
        <%= link_to ofert.titulo, ofertum_path(ofert) %>
      </div>
        <div class="row">
          <%= ofert.dataI %> a <%= ofert.dataF %>
        </div>
          <div class="row">
          <%= ofert.descricao[0..100].html_safe %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% else %>

<div class="row">
  <div class="span12 offset1">
    <div class="row">
        <h3>Candidatos</h3>
    </div>
    <% @oferta.candidatos.each do |ofert| %>
      <div class="span6 offset1" style="margin-bottom:20px;">
        <div class="span2 offset0">
            <%= image_tag ofert.foto.url%>
        </div>
        <div class="span3 offset0">
        <div class="row">
        <%= link_to ofert.user.nome, candidato_path(ofert) %>
      </div>
        <div class="row">
          <%= ofert.area_prof.designacao %>
        </div>
          <div class="row">
            <%= ofert.exp_profissional[0..150].html_safe %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>
