

<div class="row" style="margin-top: 80px;">
    <div class="span6 offset6" style="border: 1px solid black;padding: 60px;">
      <h3 style="margin-top: -60px;margin-left: -50px;">Nova password</h3>
      <%= simple_form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <div class="span6 offset1">
          <%= hidden_field_tag :email, @user.email %>

          <%= f.label :password %>
          <%= f.input :password, label: false%>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.input  :password_confirmation, label: false %>
          <div class="row">
            <div class="span2 offset2 ">
                  <%= f.submit "Actualizar password", class: "btn" %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
