
<div class="row" style="margin-top: 80px;">
    <div class="span6 offset6" style="border: 1px solid black;padding: 60px;">
      <h3 style="margin-top: -60px;margin-left: -50px;">Recuperar Password</h3>
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <div class="span6 offset1">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          <div class="row">
            <div class="span2 offset2 ">
                  <%= f.submit "Enviar Email", class: "btn" %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
